.outerDiv{
    border: 2px solid lightslategrey;
    width: 38%;
    display: flex;
    margin-left: 20px;
    font-family: Calibri;
    height: 450px;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.eachRow{
    justify-content: center;
    align-items: center;
    width:80%;
    height: 20%;
    flex-direction: row;
    display: flex;
}

.title{
    color: white;
    font-size: 20px;
    width: 60%;
}

.inputStyle{

    width: 65%;
    height: 25px;
}
.submit{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}

.personalDetails{
    width: 96%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-family: Calibri;
    align-self: center;
    justify-content: center;
    height: 370px;
    margin-top: 1.5%;
}

/*dasdasdasdsd */


.user-card-full {
    overflow: hidden
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px
}

.m-r-0 {
    margin-right: 0px
}

.m-l-0 {
    margin-left: 0px
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#c77ff2), to(#DE7889));
    background: linear-gradient(to right, #c77ff2, #DE7889)
}

.user-profile {
    padding: 20px 0
}

.card-block {
    padding: 1.25rem
}

.m-b-25 {
    margin-bottom: 25px
}

.img-radius {
    border-radius: 5px
}

h6 {
    font-size: 18px
}

.card .card-block p {
    line-height: 25px
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 18px
    }
}

.card-block {
    padding: 1.25rem
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
    margin-bottom: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.card .card-block p {
    line-height: 25px
}

.m-b-10 {
    margin-bottom: 10px
}

.text-muted {
    color: #919aa3 !important
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
    font-weight: 600
}

.m-b-20 {
    margin-bottom: 20px
}

.m-t-40 {
    margin-top: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px
}

.m-t-40 {
    margin-top: 20px
}

.user-card-full .social-link li {
    display: inline-block
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}



