body,html{
    margin:0;
}


.grid{
    display: grid;
    grid-template-columns: 10% 30% 10% 10% 10% 10% 20%;
    width: 100%;
}
.white-text{
    color: white;
}
.header-block{
    margin-top: 50px;
    background-color: #1c1c1c;
}
.data-block{
    height: 150px;
    width: 98%;
    background: #212121;
    margin:10px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}
label{
    margin-left: 10px;
    margin-right: 10px;
}

.button {
  border: none;
  color: black;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: lightblue;}

.ol{
    list-style-position: inside;
    padding-left: 0;
}

.li{
    color: red;
}