body,html{
    margin:0;
}

.grid{
    display: grid;
    grid-template-columns: 20px 40px 150px 100px 200px;
    grid-auto-columns: auto;
}

.data-block{
    height: 50px;
    width: 500px;
    background: beige;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
label{
    margin-left: 10px;
    margin-right: 10px;
}

.button {
  border: none;
  color: black;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: lightblue;}
