.personalDetails{
    border: 2px solid lightslategrey;
    width: 96%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-family: Calibri;
    align-self: center;
    justify-content: center;
    height: 340px;
    border-radius: 10px;
}

.eachRecord{
    display: flex;
    padding: 20px;
    flex-direction: row;
    width: 90%;
    margin-left: 2%;
}

.profileContent{
    text-align: left;
    color: white;
    font-family: Calibri;
    font-size: 20px;
    height: 20px;
    width: 20%;
}

.profileValue{
    color: white;
    font-family: Calibri;
    margin-left: 40px;
    font-size: 20px;
    height: 20px;
}

.personalHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.editURL{
    font-size: 20px;
    justify-content: right;
    display: flex;
    align-items: center;
    color: white;
    margin-right: 5%;
}
.title{
    margin-left: 2%;
    font-family: Calibri;
    font-size: 30px;
    color: white;
}


.editCredit{

    justify-content: right;
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.history{
    width: 96%;
    color: white;
    font-family: Calibri;
    margin-left: 20px;
    margin-left: 25px;
}
.history2{
    margin: 10px;
    color: white;
    border: 2px solid lightslategrey;
    width: 96%;
    font-family: Calibri;
    height: 250px;
    border-radius: 10px;
}

