.personalDetails{

    width: 96%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-family: Calibri;
    align-self: center;
    justify-content: center;
    height: 370px;
    margin-top: 1.5%;
}

.eachRecord{
    display: flex;
    padding: 20px;
    flex-direction: row;
    width: 90%;
    margin-left: 2%;
}

.profileContent{
    text-align: left;
    color: white;
    font-family: Calibri;
    font-size: 20px;
    height: 20px;
    width: 20%;
}

.profileValue{
    color: white;
    font-family: Calibri;
    margin-left: 40px;
    font-size: 20px;
    height: 20px;
}

.personalHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.editURL{
    font-size: 20px;
    /*justify-content: right;*/
    position: absolute;
    /*display: flex;*/
    /*align-items: center;*/
    color: white;
    right: 8%;
}
.title{
    margin-left: 2%;
    font-family: Calibri;
    font-size: 30px;
    color: white;
}

.editCredit{

    justify-content: right;
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.history{
    width: 96%;
    color: white;
    font-family: Calibri;
    margin-left: 20px;
    margin-left: 25px;
}
.history2{
    margin: 10px;
    color: white;
    border: 2px solid lightslategrey;
    width: 96%;
    font-family: Calibri;
    height: 250px;
    border-radius: 10px;
}

.btn {
  border-radius: 8px;
    position: absolute;
  right: 8%;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #c77ff2;
  padding: 5px 3px 5px 3px;
  text-decoration: none;
}

.btn:hover {
  background: #ffffff;
  background-image: linear-gradient(to bottom, #c77ff2, #ffffff);
  text-decoration: none;
}


/* new  */


.user-card-full {
    overflow: hidden
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px
}

.m-r-0 {
    margin-right: 0px
}

.m-l-0 {
    margin-left: 0px
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#c77ff2), to(#DE7889));
    background: linear-gradient(to right, #c77ff2, #DE7889)
}

.user-profile {
    padding: 20px 0
}

.card-block {
    padding: 1.25rem
}

.m-b-25 {
    margin-bottom: 25px
}

.img-radius {
    border-radius: 5px
}

h6 {
    font-size: 18px
}

.card .card-block p {
    line-height: 25px
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 18px
    }
}

.card-block {
    padding: 1.25rem
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
    margin-bottom: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.card .card-block p {
    line-height: 25px
}

.m-b-10 {
    margin-bottom: 10px
}

.text-muted {
    color: #919aa3 !important
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
    font-weight: 600
}

.m-b-20 {
    margin-bottom: 20px
}

.m-t-40 {
    margin-top: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px
}

.m-t-40 {
    margin-top: 20px
}

.user-card-full .social-link li {
    display: inline-block
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}



/* latest */


.mainn {
  display: flex;
  justify-content: center;
}

.tablee {
    width: 90%;
}

.trr {
  background-color: #eee;
}

.thh {
  background-color: #555;
  color: white;
}

.thh,
.tdd {
  text-align: left;
  padding: 0.5em 1em;
}