{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
     <link rel="stylesheet" href="{% static 'css/cryptodetail.css' %}">
</head>
<body>
{% include 'header.html' %}

    <form  action="{% url 'crypto:cryptoName' cryptoName%}" method="POST">

        {% csrf_token %}
    <div class="details">
    {% if cryptoDetails %}
          {% for data in cryptoDetails %}

              <h1 class="white-text" style=" font-size: x-large"> Name : <b>{{ data.name }} ( {{ data.alias }} ) </b></h1>

              <span class="white-text"  style=" font-size: x-large"> Current Price ($):<b> {{ currentPrice }}</b> </span><br>
                <br/><br/>
              <span class="white-text"> Market Capacity ($): <b>{{ marketCap }} </b></span><br>
              <span class="white-text"> Circulating Supply : <b>{{ circulatingSupply }}</b></span><br>
            <br/><br/>
              <span class="white-text"> Description : <b>{{ data.description }}</b></span><br>
          {% endfor %}
      {% endif %}



</div>

<div>
    <div>
        <input class="myButton" name="oneDay"  value="1 Day" type="submit"/>
        <input class="myButton"  name="sevenDays" value="7 days" type="submit" />
        <input class="myButton"  name="fifteenDays" value="15 days" type="submit" />
        <input class="myButton"  name="oneMonth" value="1 month" type="submit" />
        <input class="myButton"  name="twoMonths"  value="2 month" type="submit"/>
    </divstyle>
    <div id="chart">
      <canvas style="background: #000064" id="myChart{{ cryptoName }}"></canvas>
    </div>

<script>
      var labelName = "labels";
      var dataName = "data";
      var configName = "config";
      var myChartName = "myChart";

      window[labelName] = [
                    {% for row in rows %}
                            {% if row.currency == cryptoName %}
                                    '{{ row.Datetime   }}',
                            {% endif %}
                      {% endfor %}
                    ];

      window[dataName] = {
        labels: window[labelName],
        {#labels : ['Monday','Monday','Monday','Monday','Monday'],#}
        datasets: [{
          label: '{{cryptoName}}',
          backgroundColor: '#C77FF2FF',
          borderColor: '#C77FF2FF',
        pointRadius:1,
          data:
              [{% for row in rows %}
                  {% if row.currency == cryptoName %}
                    {{ row.High }},
                  {% endif %}
              {% endfor %}]
        }]
      };

      window[configName] = {

        type: 'line',
        data: window[dataName],

        options: {
            plugins: {
            legend: {
                display: false
            }
        },
            scales: {

            },

        }
      };
      window[myChartName] = new Chart(
        document.getElementById('myChart{{ cryptoName }}'),
        window[configName],
      );


</script>
</div>


    </form>
<div style="margin-bottom: 10px; display: flex;
    justify-content: center;
    align-items: center;">
 <form method="POST" action="{% url 'crypto:makepayment'%}?cryptoName={{ cryptoName }} ">
        {% csrf_token %}
        <input  class="myButton" name="MakeTransaction" type="submit" value="Trade {{ cryptoName }}">
    </form>
</div>
{% include 'footer.html' %}
</body>
</html>