{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>

    <div >
      <canvas style="background: azure" id="myChart"></canvas>
    </div>


<script>
    var labelName = "labels"{{ value.id }};
                  var dataName = "data"{{ value.id }};
                  var configName = "config"{{ value.id }};
                  var myChartName = "myChart"{{ value.id }};
    eval('var ' + labelName)
    eval('var ' + dataName)
    eval('var ' + configName)
    eval('var ' + myChartName)

  window[labelName] = [
                {% for row in rows %}
                        {% if row.currency == name %}
                                '{{ " "     }}',
                        {% endif %}
                  {% endfor %}
                ];

  window[dataName] = {
    labels: window[dataName],
    datasets: [{
      label: 'My First dataset',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
    pointRadius:1,
      data:
          [{% for row in rows %}
              {% if row.currency == name %}
                {{ row.Volume }},
              {% endif %}
          {% endfor %}]
    }]
  };

  window[configName] = {
    type: 'line',
    data: window[dataName],
    options: {
        plugins: {
                        legend: {
                            display: false
                        }
                    },
        scales: {
            y: {
                display: false,
            }
        }
    }
  };
  window[myChartName] = new Chart(
    document.getElementById('myChart'),
    window[configName],
  );

</script>


</body>
</html>