<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <script type="text/javascript">
         function cryptoValueChanged()
        {
            let cryptoValue = document.getElementById("cryptoValue").value;
            document.getElementById("USDPrice").value = parseFloat({{ currentPrice }}) * cryptoValue;
        }

        function USDPriceChanged()
        {
            let USDValue = document.getElementById("USDPrice").value
            document.getElementById("cryptoValue").value = USDValue / parseFloat({{ currentPrice }});
        }
        function SellUSDPriceChanged()
        {
            let USDValue = document.getElementById("sellUSDValue").value
            let cryptoValue = USDValue / parseFloat({{ currentPrice }});
            if(cryptoValue > {{ cryptoAmount }})
            {
                alert("The USD amount exceeds than your owned amount crypto")
                document.getElementById('sellUSDValue').value = parseFloat({{ currentPrice }}) * {{ cryptoAmount }};
                document.getElementById('sellCryptoValue').value = {{ cryptoAmount }};
            }
            else
            {
                document.getElementById("sellCryptoValue").value = USDValue / parseFloat({{ currentPrice }});
            }

        }
        function SellCryptoValueChanged()
        {
            let cryptoValue = document.getElementById("sellCryptoValue").value;
            if(cryptoValue > {{ cryptoAmount }})
            {
                alert("The crypto amount exceeds than your owned crypto")
                document.getElementById('sellUSDValue').value = parseFloat({{ currentPrice }}) * {{ cryptoAmount }};
                document.getElementById('sellCryptoValue').value = {{ cryptoAmount }};
            }
            else
            {
                  document.getElementById("sellUSDValue").value = parseFloat({{ currentPrice }}) * cryptoValue;
            }
        }
        window.onload =
        function updateValue()
        {
            document.getElementById('sellUSDValue').value = parseFloat({{ currentPrice }}) * {{ cryptoAmount }}
        };
    </script>
</head>
<body>
{% include 'header.html' %}
<form method="post" action="{% url 'crypto:makepayment'%}?cryptoName={{ cryptoData.alias }}">
    {% csrf_token %}
    {% if isPaymentAdded %}
        <h1>Payment Added</h1>
        Card Holder Name : {{ cardInfo.cardHolderName }} <br/>
        Card No : {{ cardInfo.cardNo }} <br/>
    {% else %}
        <h2> You do not have payment method added</h2>
        <a href="{% url 'crypto:add_payment' %}?cryptoName={{ cryptoData.alias }}"> Please Add Payment Method </a>

    {% endif %}

    Crypto Name :  {{ cryptoData.name }} <br/>
    Crypto Symbol : {{ cryptoData.alias }} <br/>

    Email id : {{ userData.username }} <br/>

    Current Price : {{currentPrice}} <br/>
    Circulating Supply : {{ circulatingSupply }} <br/>
    Market Capacity : {{ marketCap }} <br/>

    {{ cryptoData.alias }} : <input name="cryptoValue" id="cryptoValue" type="text" value="1" oninput="cryptoValueChanged()"/>
    USD : <input name="USDPrice" id="USDPrice" type="text" value={{ currentPrice }} oninput="USDPriceChanged()" /> <br/>

{#    {{ paymentForm }} #}
    {% if isPaymentAdded %}
        <input name="Buy" type="submit" value="Buy"> <br>
    {% endif %}
    {% if userHasBought %}
        You hold : <input type="text" name="sellCryptoValue" id="sellCryptoValue" value="{{ cryptoAmount }}" oninput="SellCryptoValueChanged()"> {{ cryptoData.alias }} <br>
        USD Worth : <input type="text" name="sellUSDValue" id="sellUSDValue" value="{{ usdWorth }}" oninput="SellUSDPriceChanged()">

        <input name="Sell" type="submit" value="Sell">
    {% endif %}


</form>
{% include 'footer.html' %}
</body>
</html>