<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <script type="text/javascript">
         function cryptoPriceChanged()
        {
            let cryptoValue = document.getElementById("cryptoValue").value;
            document.getElementById("USDPrice").value = parseFloat({{ currentPrice }}) * cryptoValue;
        }

        function USDPriceChanged()
        {
            let USDValue = document.getElementById("USDPrice").value
            alert(USDValue)
            document.getElementById("cryptoValue").value = USDValue / parseFloat({{ currentPrice }});
        }

    </script>
</head>
<body>
<form method="post" action="{% url 'crypto:makepayment'%}?cryptoName={{ cryptoData.alias }}">
    {% csrf_token %}
    {% if isPaymentAdded %}
        <h1>Payment Added</h1>
        Card Holder Name : {{ cardInfo.cardHolderName }} <br/>
        Card No : {{ cardInfo.cardNo }} <br/>
    {% else %}
        <h2> You do not have payment method added</h2>
        <a href="{% url 'crypto:add_payment' %}?cryptoName={{ cryptoData.alias }}"> Please Add Payment Method </a>

    {% endif %}

    Crypto Name :  {{ cryptoData.name }} <br/>
    Crypto Symbol : {{ cryptoData.alias }} <br/>

    Email id : {{ userData.username }} <br/>

    Current Price : {{currentPrice}} <br/>
    Circulating Supply : {{ circulatingSupply }} <br/>
    Market Capacity : {{ marketCap }} <br/>

    {{ cryptoData.alias }} : <input name="cryptoValue" id="cryptoValue" type="text" value="1" oninput="cryptoPriceChanged()"/>
    USD : <input name="USDPrice" id="USDPrice" type="text" value={{ currentPrice }} oninput="USDPriceChanged()" /> <br/>

{#    {{ paymentForm }} #}
    {% if isPaymentAdded %}
        <input name="Buy" type="submit" value="Buy">
    {% endif %}
    {% if userHasBought %}
        <input name="Sell" type="submit" value="Sell">
    {% endif %}


</form>
</body>
</html>