<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
{% csrf_token %}
First Name : {{ userData.first_name }}<br>
Last Name : {{ userData.last_name }}<br>
Phone Number : {{ userData.phoneNo }}<br>
Email : {{ userData.email }}<br>
Date of Birth : {{ userData.dob }}<br>

<div><a href="{% url 'crypto:editProfile' %}">Edit Profile</a></div>
<h2>Card Information</h2><br>
Card Number : {{ paymentInfo.cardNo }}<br>
Expiry Date : {{ paymentInfo.expiryDate }}<br>
CVV : {{ paymentInfo.CVV }}<br><br>

<div><a href="{% url 'crypto:add_payment' %}">Edit Credit Info</a></div>
</body>
</html>