{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/credit_card.css' %}">
</head>

<body style="margin-top: 90px;">
{% include 'header.html' %}
{% csrf_token %}
<h5 style="color: red;margin-left: 2%">{{ status1 }}</h5>
<h5 style="color: green;margin-left: 2%">{{ status2 }}</h5>
<div class="personalHeader">
    <div class="editURL btn"><a href="{% url 'crypto:editProfile' %}" style="color: white">Edit Profile</a></div>
</div>

<div class="personalDetails">
    <br><br>
    <div class="page-content page-container" id="page-content">
        <div class="padding d-flex justify-content-center">
            <div class="row container d-flex justify-content-center">
                <div class="col-xl-12 col-md-14">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-3 bg-c-lite-green user-profile">
                                <div class="card-block text-center text-white">
                                    <div class="m-b-25"><img src="https://img.icons8.com/bubbles/100/000000/user.png"
                                                             class="img-radius" alt="User-Profile-Image"></div>
                                    <h6 class="f-w-600">{{ userData.first_name }} {{ userData.last_name }}</h6>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="card-block">
                                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Personal Information</h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Name</p>
                                            <h6 class="text-muted f-w-400">{{ userData.first_name }} {{ userData.last_name }}</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Email</p>
                                            <h6 class="text-muted f-w-400">{{ userData.email }}</h6>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Date of Birth</p>
                                            <h6 class="text-muted f-w-400">{{ userData.dob }}</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Phone</p>
                                            <h6 class="text-muted f-w-400">{{ userData.phoneNo }}</h6>
                                        </div>
                                    </div>

                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Wallet Details</h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Balance</p>
                                            <h6 class="text-muted f-w-400">{{ userData.walletBalance }}</h6>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if paymentInfo %}
    <form action="{% url 'crypto:add_payment' %}" method="POST">
        {% csrf_token %}
        <div class="personalHeader">
            <h2 class="title">Card Information</h2><br>
{#            <div class="btn">#}
                <input class="btn" type="submit" name="EditCard" value="Edit Payment info">
{#            </div>#}
        </div>
        <div class="personalDetails">
            <div class="center2">
                <div class="card2">
                    <div class="flip">
                        <div class="front">
                            <div class="strip-bottom"></div>
                            <div class="strip-top"></div>
                            <div class="investor">Crypto Bazaar</div>
                            <div class="chip">
                                <div class="chip-line"></div>
                                <div class="chip-line"></div>
                                <div class="chip-line"></div>
                                <div class="chip-line"></div>
                                <div class="chip-main"></div>
                            </div>
                            <svg class="wave" viewBox="0 3.71 26.959 38.787" width="26.959" height="38.787"
                                 fill="white">
                                <path d="M19.709 3.719c.266.043.5.187.656.406 4.125 5.207 6.594 11.781 6.594 18.938 0 7.156-2.469 13.73-6.594 18.937-.195.336-.57.531-.957.492a.9946.9946 0 0 1-.851-.66c-.129-.367-.035-.777.246-1.051 3.855-4.867 6.156-11.023 6.156-17.718 0-6.696-2.301-12.852-6.156-17.719-.262-.317-.301-.762-.102-1.121.204-.36.602-.559 1.008-.504z"></path>
                                <path d="M13.74 7.563c.231.039.442.164.594.343 3.508 4.059 5.625 9.371 5.625 15.157 0 5.785-2.113 11.097-5.625 15.156-.363.422-1 .472-1.422.109-.422-.363-.472-1-.109-1.422 3.211-3.711 5.156-8.551 5.156-13.843 0-5.293-1.949-10.133-5.156-13.844-.27-.309-.324-.75-.141-1.114.188-.367.578-.582.985-.542h.093z"></path>
                                <path d="M7.584 11.438c.227.031.438.144.594.312 2.953 2.863 4.781 6.875 4.781 11.313 0 4.433-1.828 8.449-4.781 11.312-.398.387-1.035.383-1.422-.016-.387-.398-.383-1.035.016-1.421 2.582-2.504 4.187-5.993 4.187-9.875 0-3.883-1.605-7.372-4.187-9.875-.321-.282-.426-.739-.266-1.133.164-.395.559-.641.984-.617h.094zM1.178 15.531c.121.02.238.063.344.125 2.633 1.414 4.437 4.215 4.437 7.407 0 3.195-1.797 5.996-4.437 7.406-.492.258-1.102.07-1.36-.422-.257-.492-.07-1.102.422-1.359 2.012-1.075 3.375-3.176 3.375-5.625 0-2.446-1.371-4.551-3.375-5.625-.441-.204-.676-.692-.551-1.165.122-.468.567-.785 1.051-.742h.094z"></path>
                            </svg>
                            <div class="card-number">
                                <div class="section">{{ paymentInfo.cardNo }}</div>
                            </div>
                            <div style="z-index: 1" class="end"><span class="end-text">exp. date:</span><span
                                    class="end-date">{{ paymentInfo.expiryDate }}</span></div>
                            <div class="card-holder">{{ paymentInfo.cardHolderName }}</div>
                            <div class="master">
                                <div class="circle master-red"></div>
                                <div class="circle master-yellow"></div>
                            </div>
                        </div>
                        <div class="back">
                            <div class="strip-black"></div>
                            <div class="ccv">
                                <label>ccv</label>
                                <div>{{ paymentInfo.CVV }}</div>
                            </div>
                            <div class="terms">
                                <p>This card is property of Crypto Bazaar. Misuse is criminal offence. If
                                    found, please return to Crypto Bazaar or to the nearest bank with MasterCard logo.</p>
                                <p>Use of this card is subject to the credit card agreement.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% else %}
    <h2 class="title"> Payment Method not added </h2>
    <a href="{% url 'crypto:add_payment' %}">
{#        <div class="btn">#}
                <input class="btn" type="submit" name="Add Payment" value="Add Payment">
{#        </div>#}
    </a>
{% endif %}

<br>
<h2 class="title">History</h2><br/>

<main class="mainn">
    <table class="tablee">
        <tr class="trr">
            <th class="thh">Currency</th>
            <th class="thh">Rate</th>
            <th class="thh">Amount</th>
            <th class="thh">Quantity</th>
            <th class="thh">Date</th>
            <th class="thh">Type</th>
        </tr>
        {% for data in history %}
            <tr class="trr">
                <td class="tdd"><a href="{% url 'crypto:makepayment' %}?cryptoName={{ data.cryptoData.alias }}"> {{ data.cryptoData.name }} </a> </td>
                <td class="tdd">
                    {% if data.type == 'B' %}
                        {{ data.cryptoRate }}
                    {% else %}
                        {{ data.cryptoRate }}
                    {% endif %}
                </td>
                <td class="tdd">{{ data.amount }}</td>
                <td class="tdd">{{ data.quantity }}</td>
                <td class="tdd"> {{ data.paymentDate }}</td>
                {% if data.type == 'B' %}
                    <td class="tdd">Bought</td>
                {% else %}
                    <td class="tdd">Sold</td>
                {% endif %}
            </tr>
        {% endfor %}

    </table>
</main>
<br><br><br>
</body>
</html>